[submodule "src/admin_ui"]
	path = src/admin_ui
	url = https://github.com/allomov/admin-ui.git
	branch = i18n
[submodule "src/vcap-common"]
	path = src/vcap-common
	url = https://github.com/cloudfoundry/vcap-common.git
